name: Build parsedmarc container

on:
  push:
    paths:
      - 'data/Dockerfiles/parsedmarc/**'
  schedule:
    - cron: '0 0 14 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: data/Dockerfiles/parsedmarc/
          tags: patschi/parsedmarc:latest
          push: true
