name: Build parsedmarc-init container

on:
  push:
    paths:
      - 'data/Dockerfiles/parsedmarc-init/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: data/Dockerfiles/parsedmarc-init/
          tags: patschi/parsedmarc:init
          push: true
